<mat-grid-list cols="4" rowHeight="3:3">
	<mat-grid-tile
		*ngFor="let movie of movies"
		[colspan]="1"
		[rowspan]="1">
		<mat-card role="group" tabindex="0">
			<mat-card-header>
				<mat-card-title-group>
					<mat-card-title>{{ movie.title }}</mat-card-title>
					<mat-card-subtitle>{{ movie.genre }}</mat-card-subtitle>
				</mat-card-title-group>
			</mat-card-header>
			<img mat-card-image src="http://via.placeholder.com/400x150/5a33a1/ffffff" alt="{{ movie.title }} Poster">
			<mat-card-content>
				<p>{{ movie.actor1 }} | {{ movie.actor2 }}</p>
				<mat-divider [inset]="true"></mat-divider>
				<p>{{ movie.synopsis }}</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button color="primary" (click)="deleteMovie(movie)">REMOVE</button>
			</mat-card-actions>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>

<!-- FAB -->
<button mat-fab color="primary" style="position:fixed;right:10px;bottom:10px;" (click)="openAddDialog()" aria-label="Add Movie"><i class="material-icons">add</i></button>
<button mat-mini-fab color="accent" style="position:fixed;right:20px;bottom:80px;" (click)="openSearchDialog()" aria-label="Search Movies"><i class="material-icons">search</i></button>
