<h2 mat-dialog-title>Add a Movie</h2>
<mat-dialog-content>
	<mat-form-field hintLabel="Max 50 characters" style="width:100%;">
		<input matInput placeholder="Title" maxlength="50" #movieTitle>
		<mat-hint align="end">{{movieTitle.value?.length || 0}}/50</mat-hint>
	</mat-form-field>
	<mat-form-field style="width:100%;">
		<mat-select placeholder="Genre" #movieGenre>
			<mat-option [value]="0">Absurdist</mat-option>
			<mat-option [value]="1">Action</mat-option>
			<mat-option [value]="2">Comedy</mat-option>
			<mat-option [value]="3">Crime</mat-option>
			<mat-option [value]="4">Drama</mat-option>
			<mat-option [value]="5">Fantasy</mat-option>
			<mat-option [value]="6">Historical</mat-option>
			<mat-option [value]="7">Horror</mat-option>
			<mat-option [value]="8">Mystery</mat-option>
			<mat-option [value]="9">Romance</mat-option>
			<mat-option [value]="10">Science Fiction</mat-option>
			<mat-option [value]="11">Thriller</mat-option>
			<mat-option [value]="12">Western</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field hintLabel="Max 25 characters" style="width:49%;padding-right:2%;">
		<input matInput placeholder="Main Actor" maxlength="25" #movieActor1>
		<mat-hint align="end">{{movieActor1.value?.length || 0}}/25</mat-hint>
	</mat-form-field>
	<mat-form-field hintLabel="Max 25 characters" style="width:49%;">
		<input matInput placeholder="Secondary Actor" maxlength="25" #movieActor2>
		<mat-hint align="end">{{movieActor2.value?.length || 0}}/25</mat-hint>
	</mat-form-field>
	<mat-form-field hintLabel="Max 250 characters" style="width:100%;">
		<textarea matInput placeholder="Synopsis" maxlength="250" #movieSynopsis></textarea>
		<mat-hint align="end">{{movieSynopsis.value?.length || 0}}/250</mat-hint>
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button (click)="close()">Close</button>
	<button mat-raised-button color="accent" (click)="createMovie(movieTitle.value,movieGenre.value,movieActor1.value,movieActor2.value,movieSynopsis.value);">Add</button>
</mat-dialog-actions>