<h2 mat-dialog-title>Search Movies</h2>
<mat-dialog-content>
	<mat-radio-group (ngModel)="searchCondition" style="display:inline-flex;flex-direction:column;width:100%;" #filter>
		<mat-radio-button value="0" checked="true" style="margin-bottom:15px;" #nofilter>No Filter</mat-radio-button>
		<mat-radio-button value="1" ng-model="titlefilter" #titlefilter><mat-form-field><input matInput placeholder="Title" #title></mat-form-field></mat-radio-button>
		<mat-radio-button value="2" #genrefilter><mat-form-field style="width:100%;">
		<mat-select placeholder="Genre" #genre>
			<mat-option [value]="0">Absurdist</mat-option>
			<mat-option [value]="1">Action</mat-option>
			<mat-option [value]="2">Comedy</mat-option>
			<mat-option [value]="3">Crime</mat-option>
			<mat-option [value]="4">Drama</mat-option>
			<mat-option [value]="5">Fantasy</mat-option>
			<mat-option [value]="6">Historical</mat-option>
			<mat-option [value]="7">Horror</mat-option>
			<mat-option [value]="8">Mystery</mat-option>
			<mat-option [value]="9">Romance</mat-option>
			<mat-option [value]="10">Science Fiction</mat-option>
			<mat-option [value]="11">Thriller</mat-option>
			<mat-option [value]="12">Western</mat-option>
		</mat-select></mat-form-field></mat-radio-button>
		<mat-radio-button value="3" #actorfilter><mat-form-field><input matInput placeholder="Actor" #actor></mat-form-field></mat-radio-button>
	</mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button (click)="close()">Cancel</button>
	<button mat-raised-button color="accent" (click)="close()">Search</button>
</mat-dialog-actions>