/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #3e3e3e;
	font-size: 250%;
	font-weight: bold;
	text-align: center;
	color: #5a33a1;
}

h2 {
	color: #3e3e3e;
	font-size: 200%;
	font-weight: bold;
}

mat-card {
	width:400px;
}

mat-card-image {
	max-height: 150px;
}

mat-button {
	font-weight: bold;
}

.search {
	position:fixed;
	right:20px;
	bottom:80px;
}

.add {
	position:fixed;
	right:10px;
	bottom:10px;
}